on:
  workflow_call:
    inputs:
      app:
        required: true
        type: string
      base-path:
        required: true
        type: string

jobs:
  test-and-verify:
    name: Test and lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    steps:
      - uses: navikt/helse-spillerom/actions/pnpm-cached@main
        with:
          NPM_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: pnpm run tsc
      - run: pnpm run prettier:check
      - run: pnpm run lint
      - run: pnpm run test

  build-dependabot:
    if: github.actor == 'dependabot[bot]'
    name: Build for dependabot PR
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: navikt/helse-spillerom/actions/pnpm-cached@main
        with:
          NPM_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
      - name: Copy appropriate env file to root
        shell: bash
        run: |
          echo "Copying .nais/envs/.env.prod..."
          cp .nais/envs/.env.prod .env.production
      - id: pnpm-build
        shell: bash
        run: pnpm run build
        env:
          NEXT_PUBLIC_VERSION: ${{ github.sha }}

  build-dev:
    if: ${{ !startsWith(github.ref_name, 'demo') && github.actor != 'dependabot[bot]'}}
    name: Build for dev
    runs-on: ubuntu-latest
    permissions:
      packages: "write"
      contents: "read"
      id-token: "write"
    outputs:
      image: ${{ steps.build-and-publish.outputs.image }}
    steps:
      - uses: navikt/helse-spillerom/actions/next-to-docker@main
        id: build-and-publish
        with:
          app: ${{ inputs.app }}
          env: dev
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          NPM_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}


  deploy-dev:
    if: ${{ !startsWith(github.ref_name, 'demo') }}
    name: Deploy to dev
    runs-on: ubuntu-latest
    needs: [test-and-verify, build-dev]
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: .nais/nais-dev.yaml
          VAR: image=${{ needs.build-dev.outputs.image }},version=${{ github.sha }}
